<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  {% csrf_token %}
  <body>
    {% for message in messages%}
  
    <strong>Message: </strong>{{message}}
        {% endfor %}
    <h2>This is homw page</h2>
    {% if isUser < 1 %}
 <a href="login"><button type="">Login</button></a>
  <a href="signup"><button type="">Signup</button></a>
    {% else %}
   <a href="logout"><button type="">LogOut</button></a>
    {% endif %}
  </body>
</html>
